@keyframes slide{
    0% {transform: translateX(-20%); }
    100% {transform: translateX(120%); }
}

@keyframes fade {
    0% { background-color:rgb(235, 140, 179); }
    50% { background-color: #fff; }
    100% { background-color: rgb(105, 190, 165); }
}

img{
    max-width:100%;
	display:inline-block;
}

.banner{
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.banner img{
    width: 100%;
}

.heading{
    position: absolute;
    width: 100%;
    top: 70%;
}

.container .row div .attraction{
    transition: 1s;
}

.container .row div .attraction:hover{
    transform: scale(1.2);
}

.container .row div .night{
    transition: 1s;
}

.container .row div .night:hover{
    transform: skew(-5deg);
}

header .head div .spin{
    transition: transform 1s;
}

header .head div .spin:hover{
    transform: rotateZ(360deg); 
}

.container .row div .night .card-body div .btn{
    transition: 1s;
}

.container .row div .night .card-body div .btn:hover{
    transform: scale(.8);
}

/*
section .banner h3{
    animation: slide 4s linear 0s infinite;   
} 
*/

header{
    animation: fade 3s linear 0s infinite;
}

